<h1>Daftar Booking</h1>

<%= form_with url: admin_bookings_path, method: :get, local: true do %>
  <div class="row mb-3">
    <div class="col-md-3">
      <%= label_tag :start_created_at, "Created At (Start Date)" %>
      <%= date_field_tag :start_created_at, params[:start_created_at] || Date.today, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= label_tag :end_created_at, "Created At (End Date)" %>
      <%= date_field_tag :end_created_at, params[:end_created_at] || Date.today, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= label_tag :start_booking_date, "Booking Date (Start)" %>
      <%= date_field_tag :start_booking_date, params[:start_booking_date], class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= label_tag :end_booking_date, "Booking Date (End)" %>
      <%= date_field_tag :end_booking_date, params[:end_booking_date], class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-3">
      <%= label_tag :branch_id, "Cabang" %>
      <%= select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, params[:branch_id]), prompt: "Semua Cabang", class: "form-select" %>
    </div>
    <div class="col-md-3">
      <%= label_tag :status, "Status" %>
      <%= select_tag :status, options_for_select(Booking.statuses.keys.map { |s| [s.titleize, s] }, params[:status]), prompt: "Semua Status", class: "form-select" %>
    </div>
    <div class="col-md-3 d-flex align-items-end">
      <%= submit_tag "Filter", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Booking Date</th>
      <th>Created At</th>
      <th>Customer Name</th>
      <th>Cabang</th>
      <th>Status</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.id %></td>
        <td><%= booking.booking_date.strftime("%d-%m-%Y") if booking.booking_date %></td>
        <td><%= booking.created_at.strftime("%d-%m-%Y %H:%M") %></td>
        <td><%= booking.customer_name %></td>
        <td><%= booking.branch.name if booking.branch %></td>
        <td><%= booking.status.titleize %></td>
        <td>
          <%= link_to "Show", admin_booking_path(booking), class: "btn btn-sm btn-info" %>
          <%= link_to "Edit", edit_admin_booking_path(booking), class: "btn btn-sm btn-warning" %>
          <%= button_to "Delete", admin_booking_path(booking), method: :delete, data: { confirm: "Anda yakin?" }, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @bookings %>
