<%= form_with(model: branch, local: true) do |f| %>
  <% if branch.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(branch.errors.count, "error") %> terjadi:</h4>
      <ul>
        <% branch.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :name, "Nama Cabang", class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :phone, "Nomor WA", class: "form-label" %>
    <%= f.text_field :phone, class: "form-control", placeholder: "62xxxxxxxxxx" %>
  </div>

  <div class="d-grid">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
