<script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>

<%= form_with(model: [:admin, schedule], local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(schedule.errors.count, "error") %> terjadi:</h4>
      <ul>
        <% schedule.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :doctor_id, "Dokter", class: "form-label" %>
    <select id="doctor-select" name="schedule[doctor_id]" class="form-select">
      <option value="">Pilih Dokter</option>
      <% Doctor.all.each do |doctor| %>
        <option value="<%= doctor.id %>" <%= "selected" if schedule.doctor_id == doctor.id %>><%= doctor.name %></option>
      <% end %>
    </select>
  </div>

  <div class="mb-3">
    <%= form.label :branch_id, "Cabang", class: "form-label" %>
    <%= form.collection_select :branch_id, Branch.all, :id, :name, { prompt: "Pilih Cabang" }, { class: "form-select" } %>
  </div>

  <div class="mb-3">
    <%= form.label :day, "Hari", class: "form-label" %>
    <%= form.select :day, options_for_select(["Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu", "Minggu"], schedule.day), { prompt: "Pilih Hari" }, { class: "form-select" } %>
  </div>

  <div class="mb-3">
    <%= form.label :start_time, "Jam Mulai", class: "form-label" %>
    <%= form.time_field :start_time, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :end_time, "Jam Selesai", class: "form-label" %>
    <%= form.time_field :end_time, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Simpan Jadwal", class: "btn btn-primary" %>
  </div>
<% end %>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    new TomSelect("#doctor-select", {
      create: false,
      sortField: {
        field: "text",
        direction: "asc"
      }
    });
  });
</script>